version: '3.8'

services:
  app:
    image: ghcr.io/${GITHUB_USERNAME}/slack-invite-mgr-backend:latest
    ports:
      - "8080:8080"
    environment:
      - GOOGLE_CREDENTIALS_FILE=/app/credentials.json
      - GOOGLE_SPREADSHEET_ID=${GOOGLE_SPREADSHEET_ID}
      - GOOGLE_SHEET_NAME=${GOOGLE_SHEET_NAME}
    volumes:
      - ./data/credentials.json:/app/credentials.json
    restart: unless-stopped

  # Production web service
  web:
    image: ghcr.io/${GITHUB_USERNAME}/slack-invite-mgr-web:latest
    ports:
      - "80:80"
    environment:
      - API_URL=http://app:8080
      - PUBLIC_URL=/slack-invite
    depends_on:
      - app
    restart: unless-stopped 